.div-schedule {
    overflow-y: auto;
    height: 55vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-self: flex-start;
}

.none {
    display: none;
}

.div-schedule-hidden {
    height: 55vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-content: center;
}

.services-inputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.link-noformated {
    text-decoration: none;
    color: #fff;
}

.confirmed-image {
    height: 30vmin;
    width: 30vmin;
}