header {
    background-image: url("https://media.istockphoto.com/vectors/vector-border-with-cute-different-breeds-of-dogs-in-cartoon-style-on-vector-id1326160031?b=1&k=20&m=1326160031&s=170667a&w=0&h=P5Or0UN8F95afmRsJQOp-adoANcAW03su8o-fk3G6CE=");
    background-origin: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: blue;
    height: 30vh;
    width: 100vw;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 70vh;
    width: 100vw;
    overflow: auto;
}

footer {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: #fff;
}

.link-noformat {
    width: 30vw;
    margin: 0 2.5vw;
    padding: 0 2.5vw;
    text-decoration: none;
    text-align: center;
    color: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.logout {
    margin: 10px;
}